.container {
  width: 600px;
  height: 500px;
  margin: 200px auto;
  border: 1px solid rgb(53, 53, 53);
  background-color: #f1f1f1;
}
.header-container {
  border: none;
  background-color: #222831;
  color: #dddddd;
}
.header-container h2 {
  text-align: center;
  font-size: 2em;
  padding-top: 15px;
  margin: 0;
  height: 60px;
}
.controls-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.controls-container h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 200px;
  margin: auto;
}
.button-container button {
  height: 45px;
  width: 45px;
  margin: auto;
  background-color: #30475e;
  color: #dddddd;
  border: none;
  border-radius: 50%;
}
.button-container p {
  text-align: center;
  font-size: 1.5em;
  margin: 10px;
}
.timer-container {
  width: 200px;
  margin: auto;
  padding-top: 20px;
}
.timer {
  text-align: center;
}
.timer p {
  font-size: 1.75em;
}
.timer-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 150px;
  margin: auto;
}
.timer-buttons button {
  font-size: 1.25em;
}
.timer-buttons #start_stop {
  background-color: #222831;
  color: #dddddd;
  height: 45px;
  width: 60px;
  border-radius: 5%;
  border: none;
  margin: auto;
}
.timer-buttons #reset {
  background-color: #f05454;
  color: #dddddd;
  height: 45px;
  width: 45px;
  border-radius: 5%;
  border: none;
  margin: auto;
}
